!!!
html
	head
		title Lahar
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#header
			#mainHeader
				#usersSection
					- if (session.user)
						#name(style='display:none', value=session.user.name)#{session.user.name}
						#lastName(style='display:none', value=session.user.lastName)#{session.user.lastName}
						#email(style='display:none', value=session.user.email)#{session.user.email}
						#level(style='display:none', value=session.user.level)#{session.user.level}
						#key(style='display:none', value=session.user.key)#{session.user.key}
						.blueBox
							a(href='/logout') Sign Out
					- else
						.blueBox
							a(href='/') Sign In

			.notifications
				- if(flash.warning)
						.warning #{flash.warning}
				- if(flash.alert)
						.alert #{flash.alert}
				- if(flash.info)
						.info #{flash.info}
		#container!= body
		#footer
			p.footer Lahar exercise Copyright © 2012 ODU team. All rights reserved.
			p.footer
				a(href='../legal/copyright') Copyright/IP Policy  |&nbsp
				a(href='../legal/terms') Terms of Service  |&nbsp
				a(href='../legal/privacy') Privacy Policy