!!!
html
	head
		title Lahar
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script
			document.body.style.backgroundSize=document.width+'px '+document.height+'px';
			window.onresize = function(){
				document.body.style.backgroundSize=document.width+'px '+document.height+'px'
			};
			window.onload = function(){
				//setInterval(function(){document.body.style.backgroundImage = 'url(/images/bground.jpg)'},60000)

			};
		#header
			#mainHeader
				#usersSection
					- if (session.user)
						#name(style='display:none', value=session.user.name)#{session.user.name}
						#lastName(style='display:none', value=session.user.lastName)#{session.user.lastName}
						#email(style='display:none', value=session.user.email)#{session.user.email}
						#level(style='display:none', value=session.user.level)#{session.user.level}
						#key(style='display:none', value=session.user.key)#{session.user.key}
						.blueBox
							a(href='/logout') Sign Out
					- else
						.blueBox
							a(href='/') Sign In
			.blueBox.leftPart
				a(href='/feedback') +Feedback

			#notify.notifications
				- if(flash.warning)
						.warning #{flash.warning}
				- if(flash.alert)
						.alert #{flash.alert}
				- if(flash.info)
						.info #{flash.info}
				- if(flash.warning || flash.alert || flash.info)
					script
						setTimeout("document.getElementById('notify').removeChild(document.getElementById('notify').firstChild)",10000)

		#container!= body
		#footer
			p.footer Lahar exercise Copyright © 2012 ODU team. All rights reserved.
			p.footer
				a(href='../legal/copyright') Copyright/IP Policy
				|&nbsp
				a(href='../legal/terms') Terms of Service
				|&nbsp
				a(href='../legal/privacy') Privacy Policy